.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
body {
  background:url(../img/pexels-todd-trapani-1909331.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects {
  background-color: rgba(236, 226, 226, 0.5);
  border: 2px solid black;
  border-bottom:rgba(255, 255, 255, 0);
  position: relative;
  top: 100px;
  padding: 40px;
}
.hobmain {
  background-color: rgba(236, 226, 226, 0.5);
  border: 2px solid black;
  border-top:rgba(255, 255, 255, 0);
  position: relative;
  top: 100px;
  padding: 40px;
}
.center {
  text-align: center;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -moz-text-stroke-width: 0.2px;
  -moz-text-stroke-color: rgb(255, 255, 255);
}
}
h4 {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -moz-text-stroke-width: 0.2px;
  -moz-text-stroke-color: rgb(255, 255, 255);
}
#iguazu {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  margin: 0 auto 0 auto;
  display: block;
}
}
.column {
  width: 300px;
  float: left;
  display: inline;
}
.pics {
  height: 200px;
  width: 200px;
}