body {
  background:url(../img/pexels-todd-trapani-1909331.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Merienda', cursive;
}
.projects {
  background-color: rgba(236, 226, 226, 0.5);
  border: 2px solid black;
  border-bottom:rgba(255, 255, 255, 0);
  position: relative;
  top: 100px;
  padding: 40px;
}
.hobmain {
  background-color: rgba(236, 226, 226, 0.5);
  border: 2px solid black;
  border-top:rgba(255, 255, 255, 0);
  position: relative;
  top: 100px;
  padding: 40px;
}
.center {
  text-align: center;
}
.ttl {
  position: relative;
  top: 80px;
}
#iguazu {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  margin: 40px auto 40px auto;
  display: block;
  position: relative;
  top: 84px;
  border: 2px solid black;
}
.pics {
  height: 200px;
  width: 200px;
  border: 2px solid black;
}
.bold {
  font-weight: 900;
  display: block;
  margin: 48px 0 40px 40px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
  @media (min-width: 576px) {
    .col-sm {
      flex: 1 0 0%;
    }
  }
}
ul {
  text-align: justify;
  position: relative;
  left: 70px;
}
.projects h3 {
  padding-bottom: 40px; 
}
h4 {
  font-weight: 900;
  padding-top: 22px;
}
a {
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}
p {
  padding-left: 40px;
}
ol li {
  padding-bottom: 6px;
}
.pjttl {
  padding-left: 40px;
}